﻿@model CrudProgrammers.Models.TB_USUARIO

@{
    Layout = null;
}


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Deseja excluir esse Usuário?</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Usuário")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NOME_COMPLETO)
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Deletar" class="btn btn-success" />
                @Html.ActionLink("Fechar", "Index", null, new { @class = "btn btn-secondary" })
            </div>
            }

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
