﻿@model CrudProgrammers.Models.TB_USUARIO

@{
    Layout = null;
}


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Detalhes Usuário!</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Nome Completo")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NOME_COMPLETO)
                </dd>

                <dt>
                    @Html.DisplayName("Email")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EMAIL)
                </dd>

                <dt>
                    @Html.DisplayName("Telefone")
                </dt>

                <dd>
                    @if (@Html.DisplayFor(model => model.TELEFONE) != null)
                    {
                        string tel = Html.Action("FormatTEL", "Usuario", new { TEL = @Html.DisplayFor(model => model.TELEFONE) }).ToString();
                        @Html.Label("", String.Format("{0}", tel))
                    }
                </dd>

            </dl>
        </div>
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Fechar", "Index", null, new { @class = "btn btn-secondary" })
            </div>
            }

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
