﻿@model IEnumerable<CrudProgrammers.Models.TB_USUARIO>

@{
    Layout = Layout;
}

@section scripts{
    <script>
            var $ = jQuery.noConflict();
        $(function () {
            $(".btn-outline-info").click(function () {
                debugger;
                var id = $(this).attr("data-id");
                $("#modal").load("Usuario/Details?id=" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".btn-outline-danger").click(function () {
                debugger;
                var id = $(this).attr("data-id");
                $("#modal").load("Usuario/Delete?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        });

    </script>
}
    <div class="card mb-2">
        <div class="card-header">
            <h5>Filtros de Busca</h5>
        </div>
        <div class="card-body">

            @using (Html.BeginForm("Index",
                                     "Usuario",
                                     FormMethod.Post,
                                     new { enctype = "multipart/form-data" }))
            {

                <div class="form-horizontal">
                    <div class="row">

                        <div class="form-group">
                            @Html.Label("Nome Usuário", htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-12">
                                @Html.TextBox("NomeUsuario", ViewBag.NomeUsuario as string, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <p>
                    <button class="btn btn-outline-primary"><i class="fas fa-fw fa-search fa-16"></i></button>
                </p>
            }
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <p>

                <a class="btn btn-outline-success" href="@Url.Action("Create", "Usuario" )"><i class="fas fa-fw fa-plus fa-16"></i></a>

            </p>
                <div class="table-responsive fixed">
                    <table class="table table-bordered" id="dataTable" style="overflow-x: scroll;  table-layout: fixed;  width: 100%; " cellspacing="0">
                        <thead class="text-white thead-blue">
                            <tr>
                                <th></th>
                                <th style="width:300px !important">@Html.DisplayName("Nome Completo")</th>
                                <th style="width:300px !important">@Html.DisplayName("E-Mail")</th>
                                <th style="width:200px !important">@Html.DisplayName("Telefone")</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {

                            <tr>
                                <td>
                                    <button class="btn btn-outline-info" data-id="@item.ID"><i class="fas fa-fw fa-info fa-16"></i></button>
                                    <a class="btn btn-outline-warning" href="@Url.Action("Edit", "Usuario" , routeValues: new { Id = item.ID } )"><i class="fas fa-fw fa-edit fa-16"></i></a>
                                    <button class="btn btn-outline-danger" data-id="@item.ID"><i class="fas fa-fw fa-trash fa-16"></i></button>
                                    @*<a class="btn btn-outline-info" href="@Url.Action("Details", "Usuario", routeValues: new { Id = item.ID } )"><i class="fas fa-fw fa-info fa-16"></i></a>*@

                                    @*<a class="btn btn-outline-danger" href="@Url.Action("Delete", "Usuario" , routeValues: new { Id = item.ID } )"><i class="fas fa-fw fa-trash fa-16"></i></a>*@

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOME_COMPLETO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EMAIL)
                                </td>
                                <td>
                                    @if (item.TELEFONE != null)
                                    {
                                        string tel = Html.Action("FormatTEL", "Usuario", new { TEL = item.TELEFONE }).ToString();
                                        @Html.Label("", String.Format("{0}", tel))
                                    }
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>

        </div>
    </div>
    <div class="modal" id="modal">

    </div>

