﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.sidebar {
    background-color: #3d566e !important;
}

.dropdown-menu {
    /*background-color: #7075b0 !important;*/
    border-radius: 10px !important;
    /*left: calc(82px + 0.5rem) !important;*/
    padding: 10px !important;
    width:300px !important;
}

.nav-item :hover {
    /*background-color: #54677a !important;*/
}


.active {
    color: #ffffff !important;
    background-color: #7075b0 !important;
}


#subMenu {
    background-color: #945a5b !important;
}

.float-left{
    float: left;
    padding-left: 10px;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 0.75rem;
}
/*.dropdown-menu :hover {
    background-color: #2c3e50 !important;
}*/

    @media (max-width: 767px) {
        .fas {
            font-size: 16px !important
        }

        #menusRight {
            display: none;
        }
    }

    @media (min-width: 800px) {
        .fas {
            font-size: 32px !important
        }
    }

.card-header-green {
    background-color: rgba(143,188,143,1) !important;
}

.card-header-blue {
    background-color: rgba(61,86,110,1) !important;
}

.bg-primary-alt {
    background-color: rgba(61,86,110, 0.8) !important;
}

.bg-success-alt {
    background-color: rgba(143, 188, 143, 1) !important;
}

.bg-warning-alt {
    background-color: rgba(255, 165, 0, 0.8) !important;
}

.bg-danger-alt {
    background-color: rgba(255, 99, 71, 1) !important;
}

.thead-blue{
    background-color: rgba(61,86,110, 0.8) !important;
}

.thead-green {
    background-color: rgba(143,188,143,1) !important;
}


.fa-16 {
    font-size: 16px !important
}

.dataTables_filter {
    visibility: hidden;
}

.link-alt {
    color: white !important;
    text-align: center;
    text-decoration: none;
    padding-top: 5% !important
}
.link-alt :hover {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.dt {
    font-weight: bold;
    color: #8B8682;
    font-size: 12px;
}

.dd {
    color: #8B8682;
    font-size: 10px;
}

.fixRight {
    position: absolute;
    right: 0;
    background: #ff0000;
}

.thead-blue {
    background-color: rgba(61,86,110, 0.8) !important;
}

    /* Alteração da COR do Menu e subMenus*/
.navbar {
    background: #d41872 !important;
    background: -webkit-linear-gradient(left, #181e4a, #181e4a) !important;
    background: -o-linear-gradient(left, #181e4a, #181e4a) !important;
    background: -moz-linear-gradient(left, #181e4a, #181e4a) !important;
    background: linear-gradient(left, #181e4a, #181e4a) !important;
}

        .navbar .navbar-brand {
            color: #ffffff !important;
        }

            .navbar .navbar-brand:hover,
            .navbar .navbar-brand:focus {
                color: #ffffff !important;
            }

        .navbar .navbar-text {
            color: #ffffff !important;
        }

            .navbar .navbar-text a {
                color: #ffffff !important;
            }

                .navbar .navbar-text a:hover,
                .navbar .navbar-text a:focus {
                    color: #ffffff !important;
                }

        .navbar .navbar-nav .nav-link {
            color: #ffffff !important;
            border-radius: .25rem;
            margin: 0 0.25em;
        }

            .navbar .navbar-nav .nav-link:not(.disabled):hover,
            .navbar .navbar-nav .nav-link:not(.disabled):focus {
                color: #ffffff !important;
            }

    .sidebar .navbar-nav .dropdown-menu {
        background-color: #582425 !important;
        border-color: #6b3a3b !important;
    }

        .sidebar .navbar-nav .dropdown-menu .dropdown-item {
            color: #ffffff !important;
        }

            .sidebar .navbar-nav .dropdown-menu .dropdown-item:hover,
            .sidebar .navbar-nav .dropdown-menu .dropdown-item:focus,
            .sidebar .navbar-nav .dropdown-menu .dropdown-item.active {
                color: #ffffff !important;
                background-color: #6b3a3b;
            }

        .sidebar .navbar-nav .dropdown-menu .dropdown-divider {
            border-top-color: #6b3a3b !important;
        }

    .sidebar .navbar-nav .nav-item.active .nav-link,
    .sidebar .navbar-nav .nav-item.active .nav-link:hover,
    .sidebar .navbar-nav .nav-item.active .nav-link:focus,
    .sidebar .navbar-nav .nav-item.show .nav-link,
    .sidebar .navbar-nav .nav-item.show .nav-link:hover,
    .sidebar .navbar-nav .nav-item.show .nav-link:focus {
        color: #ffffff !important;
        background-color: #6b3a3b !important;
    }

    .sidebar .navbar-toggle {
        border-color: #6b3a3b !important;
    }

        .sidebar .navbar-toggle:hover,
        .sidebar .navbar-toggle:focus {
            background-color: #6b3a3b !important;
        }

        .sidebar .navbar-toggle .navbar-toggler-icon {
            color: #ffffff !important;
        }

    .sidebar .navbar-collapse,
    .sidebar .navbar-form {
        border-color: #ffffff !important;
    }

    .sidebar .navbar-link {
        color: #ffffff !important;
    }

        .sidebar .navbar-link:hover {
            color: #ffffff !important;
        }

    @media (max-width: 575px) {
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
            color: #ffffff !important;
        }

            .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
            .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
                color: #ffffff !important;
            }

            .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
                color: #ffffff !important;
                background-color: #6b3a3b !important;
            }
    }

    @media (max-width: 767px) {
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
            color: #ffffff !important;
        }

            .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
            .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
                color: #ffffff !important;
            }

            .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
                color: #ffffff !important;
                background-color: #6b3a3b !important;
            }
    }

    @media (max-width: 991px) {
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
            color: #ffffff !important;
        }

            .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
            .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
                color: #ffffff !important;
            }

            .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
                color: #ffffff !important;
                background-color: #6b3a3b !important;
            }
    }

    @media (max-width: 1199px) {
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
            color: #ffffff !important;
        }

            .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
            .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
                color: #ffffff !important;
            }

            .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
                color: #ffffff !important;
                background-color: #6b3a3b !important;
            }
    }

    .sidebar .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff !important;
    }

        .sidebar .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .sidebar .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #ffffff !important;
        }

        .sidebar .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #ffffff !important;
            background-color: #6b3a3b !important;
        }

